colorLetra = rgb(3,160,175)
verde = rgb(179,210,54)

azul = #22BCE0
gris_oscuro = #101010
gris_texto = #999
gris_claro = #eee
naranja = #DD4F24

@font-face {
	font-family: 'iconos';
	src:url('../fonts/icomoon.eot?-dvq4yq');
	src:url('../fonts/icomoon.eot?#iefix-dvq4yq') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-dvq4yq') format('woff'),
		url('../fonts/icomoon.ttf?-dvq4yq') format('truetype'),
		url('../fonts/icomoon.svg?-dvq4yq#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

html
	background gris_claro
body
	display block
	margin auto
	width 900px
	position relative


footer 
	//position absolute
	//bottom 0
	background gris_oscuro 
	color gris_texto
	padding 1em 0
	text-align center
	width 100%
	margin-top 3em

	h3
		font-size 14px
		font-weight bold


header 
	background gris_oscuro
	display block
	padding 0.5em
	overflow hidden
	color gris_texto
	
	h1, h3
		padding-left 140px
		line-height 0.5em
	.logo
		float left
		img
			width 100px

nav
	background azul
	width 100%
	display block
	position relative
	
	.menu
		height 40px
		line-height 40px
		margin 0
		padding 0
		overflow-x auto
		white-space nowrap
		li
			display inline-block

			a
				color white
				display block
				margin 0 0.5em
				padding 0 0.2em
				text-decoration none

			#agregar
				display none

.agregar
	display none
	border solid azul
	border-radius 0 0 1em 1em
	.datosSitio
		border-right gris_texto dashed
		display inline-block
		padding-left .5em
		text-align right
		p
			margin 1em .5em .3em 0
			input
				display inlineblock
				width 150px
	.historia
		display inline-block
		padding-left .5em
		textarea
			display block
			margin-bottom .5em

	.mapaC
		display inline-block
		width 300px
		height 200px
		#mapaAgregar
			width 100%
			height 100%
		

.sitios
	display inline-block
	width 60%
	height 560px
	overflow-y scroll
	overflow-x hidden

	article
		border solid 1px gris_oscuro
		border-radius 0 0 10px 10px
		box-shadow 1px 1px 5px rgba(black, 0.5)
		display inline-block
		margin-top 0.5em
		overflow hidden
		width 45%
		height 16em
		position relative
		&:nth-child(odd)
			margin-right 3%

		.moreInfo
			background gris_oscuro
			border-radius 0 0 10px 10px
			top 15em
			left 0
			position absolute
			text-align center
			width 100%
			text-decoration none
			color gris_texto

		.acciones
			background azul
			border solid 1px azul
			border-radius 0 0 0 5px
			border-right transparent
			border-top transparent
			box-shadow 0px 0px 10px darken(azul, 50%)
			display none
			float right
			height 1.1em
			width 4em
			
			a
				display inline-block
				text-align center
				text-decoration none
				width 45%
				
				&:hover
					background darken(azul, 10%)
					border-radius 0 0 5px 5px
			.editar:after
					content "\e1"
					font-family "iconos"
			.borrar:after
					content "\e2"
					font-family "iconos"
			
	figure
		float left
		margin 0 0.5em 0 0
		padding 0
		img
			border-radius 0 0 20px 0
			width 100px
	p 
		padding 0.5em
		text-align justify

.mapaGeneral
	border solid black
	display inline-block
	float right
	margin-top 0.5em
	width 38%º

	.map_canvas
		display block
		height 250px
		margin 0
		width 100%

.login
	background gris_claro
	border-radius 10px
	box-shadow 0px 0px 10px gris_oscuro
	display none
	font-size 0.8em
	padding 10px
	position absolute
	text-align right
	z-index 2

	
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
